@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = "User List";
}

<div class="container mt-5">
    <h2 class="mb-4 text-center">User List</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>
                            <a href="@Url.Action("ManageClaims", "Claim", new { id = user.Id })" class="btn btn-info btn-sm">Claim</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
