@{
    ViewData["Title"] = "AccessDenied";
}

<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h4 class="text-info">You do not have Permission to view this resource</h4>
    <img src="~/Images/AccessDenied.png" style="height:300px; width:300px" />
</div>