@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole<int>>

@{
    ViewData["Title"] = "Role List";
    int index = 0;
}

<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-6">
            <a class="btn btn-primary" asp-controller="Role" asp-action="Create">Create Role</a>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-secondary" asp-controller="Administration" asp-action="Index">Back to Account Manage</a>
        </div>
    </div>
    <h2 class="mb-4 text-center">Role List</h2>

    <div class="row mb-3 text-center">
        <div class="col-md-6"><strong>Role Name</strong></div>
        <div class="col-md-6"><strong>Action</strong></div>
    </div>

    @foreach (var role in Model)
    {
        <div class="row border-bottom py-2 @(index % 2 == 0 ? "bg-light" : "bg-white") text-center">
            <div class="col-md-6">@role.Name</div>
            <div class="col-md-6">
                <a href="@Url.Action("Delete", "Role", new { id = role.Id })" class="btn btn-danger btn-sm">Delete</a>
            </div>
        </div>
        index++;
    }
</div>
